.cadastroContainer {
  min-height: 100vh;
  padding: 40px;
  background: linear-gradient(135deg, #141E30, #243B55);
  font-family: "Inter", sans-serif;
  color: #fff;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.cadastroTitulo {
  font-size: 34px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 10px;
  color: #f0f0f0;
}

.erro {
  background: rgba(255, 77, 77, 0.2);
  border-left: 4px solid #ff4d4d;
  padding: 12px 18px;
  border-radius: 10px;
  font-size: 16px;
  width: 100%;
  max-width: 900px;
}

.tabelaWrapper {
  width: 100%;
  max-width: 900px;

  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(8px);

  padding: 20px;
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.25);
}

.tabelaTopo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tabelaTopo h2 {
  font-size: 24px;
  font-weight: 600;
  color: #fff;
}

.addBtn {
  width: 45px;
  height: 45px;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  background: #00c6ff;
  color: #fff;
  font-size: 28px;

  border: none;
  cursor: pointer;
  transition: 0.25s ease;
}

.addBtn:hover {
  background: #0096bf;
  transform: translateY(-3px);
}

.produtoTabela {
  width: 100%;
  border-collapse: collapse;
  border-radius: 12px;
  overflow: hidden;
}

.produtoTabela thead {
  background: rgba(0, 198, 255, 0.25);
}

.produtoTabela th {
  padding: 14px;
  font-weight: 700;
  font-size: 16px;
  text-align: left;
  color: #fff;
}

.produtoTabela td {
  padding: 14px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.produtoTabela tr:hover {
  background: rgba(255, 255, 255, 0.12);
}

.especificacaoBtn {
  padding: 8px 14px;
  background: #6c63ff;
  border: none;
  border-radius: 8px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  transition: 0.25s ease;
}

.especificacaoBtn:hover {
  background: #574fd6;
  transform: translateY(-2px);
}

.acao {
  display: flex;
  gap: 10px;
}

.editBtn { 
  background: #026783; 
  color: wheat;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.editBtn:hover { 
  background: #4e4a4b; 
  transform: translateY(-3px); 
}

.deleteBtn { 
  background: #026783; 
  color: wheat;
  padding: 10px;
  border: none;
  border-radius: 10px;
}
.deleteBtn:hover { 
  background: #4e4a4b; 
  transform: translateY(-3px); 
}

.voltarBtn {
  width: 200px;

  padding: 12px 18px;
  background: rgba(255, 255, 255, 0.12);
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 12px;

  color: #fff;
  font-size: 18px;
  cursor: pointer;

  transition: 0.25s ease;
}

.voltarBtn:hover {
  background: rgba(255, 255, 255, 0.22);
  transform: translateY(-3px);
}
