.loginContainer {
  min-height: 100vh;
  background: linear-gradient(135deg, #141E30, #243B55);
  display: flex;
  justify-content: center;
  align-items: center;

  font-family: "Inter", sans-serif;
  padding: 20px;
}

.loginBox {
  width: 100%;
  max-width: 420px;

  background: rgba(255, 255, 255, 0.07);
  backdrop-filter: blur(12px);

  padding: 40px 35px;
  border-radius: 18px;
  border: 1px solid rgba(255, 255, 255, 0.15);

  box-shadow: 0 10px 30px rgba(0,0,0,0.35);
  text-align: center;
  color: #fff;
}

.loginBox h1 {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 30px;
  color: #e9e9e9;
}

.loginInput {
  width: 100%;
  padding: 14px;

  margin-bottom: 18px;

  background: rgba(255, 255, 255, 0.08);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 12px;

  color: #fff;
  font-size: 16px;
  outline: none;

  transition: 0.25s ease;
}

.loginInput::placeholder {
  color: #cfcfcf;
}

.loginInput:focus {
  border-color: #00c6ff;
  box-shadow: 0 0 10px rgba(0, 198, 255, 0.4);
}

.loginBtn {
  width: 100%;
  padding: 14px;

  background: #00c6ff;
  color: #fff;
  font-size: 18px;
  font-weight: 600;

  border: none;
  border-radius: 12px;
  cursor: pointer;

  transition: 0.25s ease;
  margin-top: 10px;
}

.loginBtn:hover {
  background: #00a9d6;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 198, 255, 0.3);
}
